body {
    font-family: "Comic Sans MS";
    margin: auto;
    height: 100vh;
    background-image: radial-gradient(circle,rgba(44, 0, 112, 0.5) 0%, rgba(44, 0, 112, 1) 100%), url("assets/bg_grid1.webp");
    background-overflow: hidden;
}

.divcenter {
    display: flex;
    justify-content: center;
}

.logocenter {
    text-align: center;
}

.arttextcenter {
    text-align: center;
    margin-right: 80px;
    margin-top: -15px;
    font-size: 12px;
}

.boxdiv {
    width: auto;
    height: auto;
    padding: 10px;
    border: 5px solid #90dddc;
    border-radius: 15px;
    background-color: rgba(197, 244, 244, 0.8);
}

.boxdivxmpp {
    width: 830px;
    height: auto;
    padding: 10px;
    border: 5px solid #90dddc;
    border-radius: 15px;
    background-color: rgba(197, 244, 244, 0.8);
}

.boxheader {
    width: 450px;
    height: 15px;
    padding: 10px;
    border: 3px solid #90dddc;
    border-radius: 15px;
    background-color: rgba(197, 244, 244, 0.8);
}

.boxfooter {
    width: 780px;
    height: auto;
    padding: 10px;
    border: 3px solid #90dddc;
    border-radius: 15px;
    background-color: rgba(197, 244, 244, 0.8);
}

.headertextcenter {
    text-align: center;
    margin-top: -6px;
}

.text {
    float: left;
    margin-left: 15px;
}

.images {
    float: right;
    margin-right: -60px;
    padding: 22px 0;
}

.logoimage {
    width: 48px;
}

.contructiontext {
    width: 70px;
}

.constructioncenter {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
